In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('/content/fraud_detection.csv')

In [3]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0.0,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0.0,0.0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1.0,0.0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1.0,0.0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0.0,0.0

In [15]:
data.iloc[data[(data.isnull().sum(axis=1)>0)].index]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
314698,16,CASH_IN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
data.dropna(inplace=True)

In [20]:
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.00,0.00,0.0,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.00,0.00,0.0,0.0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.00,0.00,1.0,0.0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.00,0.00,1.0,0.0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
314693,16,PAYMENT,17508.73,C1807506895,79465.0,61956.27,M2093934527,0.00,0.00,0.0,0.0
314694,16,CASH_OUT,359950.11,C622142425,11719.0,0.00,C1848110361,2181900.90,2717203.17,0.0,0.0
314695,16,PAYMENT,4032.79,C861304824,3509.0,0.00,M982320760,0.00,0.00,0.0,0.0
314696,16,CASH_IN,114371.60,C829816201,20467.0,134838.60,C671501829,747527.75,633156.15,0.0,0.0
314697,16,PAYMENT,13415.82,C1030884245,82291.0,68875.18,M1025196660,0.00,0.00,0.0,0.0

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 314698 entries, 0 to 314697
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            314698 non-null  int64
 1   type            314698 non-null  object
 2   amount          314698 non-null  float64
 3   nameOrig        314698 non-null  object
 4   oldbalanceOrg   314698 non-null  float64
 5   newbalanceOrig  314698 non-null  float64
 6   nameDest        314698 non-null  object
 7   oldbalanceDest  314698 non-null  float64
 8   newbalanceDest  314698 non-null  float64
 9   isFraud         314698 non-null  float64
 10  isFlaggedFraud  314698 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 28.8+ MB

In [26]:
types=data.type.value_counts()

In [27]:
transactions=types.index
quantity=types.values

In [28]:
import plotly.express as px

In [36]:
figure = px.pie(data, 
             values=quantity, 
             names=transactions,hole = 0.3, 
             title="Distribution of Transaction Type")

In [37]:
figure.show()

In [38]:
correlation=data.corr()

In [41]:
correlation

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
step,1.000000,0.007400,-0.002232,-0.001556,0.028864,0.005262,-0.027461,NaN
amount,0.007400,1.000000,-0.017368,-0.020104,0.214734,0.328163,0.045040,NaN
oldbalanceOrg,-0.002232,-0.017368,1.000000,0.999074,0.094257,0.063501,-0.001429,NaN
newbalanceOrig,-0.001556,-0.020104,0.999074,1.000000,0.095788,0.062711,-0.007450,NaN
oldbalanceDest,0.028864,0.214734,0.094257,0.095788,1.000000,0.961354,-0.007233,NaN
newbalanceDest,0.005262,0.328163,0.063501,0.062711,0.961354,1.000000,-0.004015,NaN
isFraud,-0.027461,0.045040,-0.001429,-0.007450,-0.007233,-0.004015,1.000000,NaN
isFlaggedFraud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
correlation.isFraud.sort_values()

step             -0.027461
newbalanceOrig   -0.007450
oldbalanceDest   -0.007233
newbalanceDest   -0.004015
oldbalanceOrg    -0.001429
amount            0.045040
isFraud           1.000000
isFlaggedFraud         NaN
Name: isFraud, dtype: float64

In [44]:
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.00,0.00,0.0,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.00,0.00,0.0,0.0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.00,0.00,1.0,0.0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.00,0.00,1.0,0.0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
314693,16,PAYMENT,17508.73,C1807506895,79465.0,61956.27,M2093934527,0.00,0.00,0.0,0.0
314694,16,CASH_OUT,359950.11,C622142425,11719.0,0.00,C1848110361,2181900.90,2717203.17,0.0,0.0
314695,16,PAYMENT,4032.79,C861304824,3509.0,0.00,M982320760,0.00,0.00,0.0,0.0
314696,16,CASH_IN,114371.60,C829816201,20467.0,134838.60,C671501829,747527.75,633156.15,0.0,0.0
314697,16,PAYMENT,13415.82,C1030884245,82291.0,68875.18,M1025196660,0.00,0.00,0.0,0.0

In [45]:
data.type=data.type.map({"CASH_OUT": 1, "PAYMENT": 2, 
                                 "CASH_IN": 3, "TRANSFER": 4,
                                 "DEBIT": 5})
data.isFraud=data.isFraud.map({0:'FRAUD',1:'NO FRAUD'})

In [46]:
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.00,0.00,FRAUD,0.0
1,1,2,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.00,0.00,FRAUD,0.0
2,1,4,181.00,C1305486145,181.0,0.00,C553264065,0.00,0.00,NO FRAUD,0.0
3,1,1,181.00,C840083671,181.0,0.00,C38997010,21182.00,0.00,NO FRAUD,0.0
4,1,2,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.00,0.00,FRAUD,0.0
...,...,...,...,...,...,...,...,...,...,...,...
314693,16,2,17508.73,C1807506895,79465.0,61956.27,M2093934527,0.00,0.00,FRAUD,0.0
314694,16,1,359950.11,C622142425,11719.0,0.00,C1848110361,2181900.90,2717203.17,FRAUD,0.0
314695,16,2,4032.79,C861304824,3509.0,0.00,M982320760,0.00,0.00,FRAUD,0.0
314696,16,3,114371.60,C829816201,20467.0,134838.60,C671501829,747527.75,633156.15,FRAUD,0.0
314697,16,2,13415.82,C1030884245,82291.0,68875.18,M1025196660,0.00,0.00,FRAUD,0.0

In [62]:
x=data.drop(['isFraud','nameOrig','step','nameDest','isFlaggedFraud'],axis=1)
y=data['isFraud']

In [63]:
x

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,2,9839.64,170136.0,160296.36,0.00,0.00
1,2,1864.28,21249.0,19384.72,0.00,0.00
2,4,181.00,181.0,0.00,0.00,0.00
3,1,181.00,181.0,0.00,21182.00,0.00
4,2,11668.14,41554.0,29885.86,0.00,0.00
...,...,...,...,...,...,...
314693,2,17508.73,79465.0,61956.27,0.00,0.00
314694,1,359950.11,11719.0,0.00,2181900.90,2717203.17
314695,2,4032.79,3509.0,0.00,0.00,0.00
314696,3,114371.60,20467.0,134838.60,747527.75,633156.15
314697,2,13415.82,82291.0,68875.18,0.00,0.00

In [73]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=10)

In [74]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()

In [75]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [76]:
model.score(x_test,y_test)

0.999449210888677